@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .nav-icons {
        @apply
        h-14
        w-14
        bg-light-two
        bg-opacity-30
        text-light-two
        flex
        justify-center
        items-center
        hover:bg-light-four
        rounded-3xl
        hover:rounded-xl
        transition-all
        duration-200
        ease-linear
        cursor-pointer
        dark:bg-dark-four
        dark:bg-opacity-30
        dark:text-light-one
        dark:hover:bg-dark-two
        dark:hover:text-dark-one;
    }

    .icons-tooltip {
        @apply
        absolute
        w-auto
        p-2
        m-2
        min-w-max
        top-20
        rounded-md
        shadow-md
        text-light-two
        bg-light-four
        text-xs
        font-bold
        transition-all
        duration-300
        origin-top
        scale-0
        z-30
        dark:bg-dark-four
        dark:text-dark-two
        ;
    }

    .arrow {
        @apply
        absolute
        border-solid
        border-b-light-three
        border-b-8
        border-x-transparent
        border-x-8
        border-t-0
        top-20
        scale-0
        z-30
        dark:border-b-dark-four
        ;
    }

    .fadeIn {
        @apply bg-black h-screen overflow-x-hidden overflow-y-hidden z-50 opacity-100 transition-opacity ease-in-out;
    }

    .fadeOut {
        @apply bg-black h-screen overflow-x-hidden overflow-y-hidden z-50 opacity-0 transition-opacity ease-in-out;
    }
}
